@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

/* Edit header Space*/
header {
  /* height: 80px; */
  padding-inline: 50px;
  padding-block: 25px;
  border-bottom: 1px solid #00000025;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Icon */
.icon {
  display: none;
}

.icon i {
  color: #2d2d2d;
}

/* Edit Logo Space */
header h2 {
  width: calc(100%-33%);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #2d2d2d;
}

/* Edit Link Spaces */
nav {
  display: flex;
  gap: 40px;
}

/* Link Style */
nav a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  color: #2d2d2d;
}

/* Links Effict */
nav a:hover {
  color: #1576d6;
}

/* Header Responsive */
@media screen and (min-width: 0px) and (max-width: 767px) {
  body {
    width: 100%;
    height: auto;
  }

  header {
    width: 100%;
  }

  nav {
    display: none;
  }

  .icon {
    display: block;
  }
}

.boxes {
  height: 88vh;
  padding: 160px 100px 127px 100px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 67.5px;
}

.box {
  background-color: #f9fdff;
  width: 315px;
  height: 317px;
  padding: 30px 50px 30px 30px;
  border: 1.5px solid #1576d6;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;

}

.box .person img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;
}

.box .person .rate img {
  width: 115px;
  height: 20px;
  object-fit: cover;
}

.NameRate {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.person {
  display: flex;
  justify-content: space-around;
}

/* Text Style */
.box p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #2d2d2d;
  width: 90%;
}

.box h4 {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
}

/* Boxes  Responsive*/
@media screen and (max-width: 767px) {
  .boxes {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .box {
    padding: 0px;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}
